<div>
    <div class="modal-body">
        <div class="row">
            <!--Gift Icon-->
            <div class="col text-center">
                <p> <img src="assets/images/sale.png" alt="discount"> </p>
            </div>
            <!--Modal Text-->
            <div class="col-8">
                <p>En <strong class="text-warning">TuTanga</strong> nos encanta cuidar de nuestros clientes, por eso hemos decidido darte este código de descuento para tus futuras compras.</p>
                <h6>¡Corre! No esperes más y utliza este código promocional en tu compra.</h6>
                <h3 class="text1 text-warning">v5l2</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal" (click)="activeModal.close('Close click')">
            <span>Entendido <i class="fa fa-gem"></i> </span>
        </button>
    </div>
</div>