.text1 {
    background-color: #dc3545;
    color: white;
    width: 20%;
    margin-top: 5%;
    text-align: center
}

.icon2 {
    color: #dc3545
}

.modal-header {
    color: white;
    background-color: #dc3545
}

.openmodal {
    margin-left: 35%;
    width: 25%;
    margin-top: 25%
}