<div>
    <div class="modal-header">
        <h4 class="modal-title">Regístrate <i class="fa fa-user"></i></h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p id="incorrect-credentials" *ngIf="!isDataValid()">¡Upsss! Revisa que todos tus datos sean correctos.</p>
        <div class="container">
            <form [formGroup]="getForm()" (ngSubmit)="registerAttempt()">
                <div class="form-group">
                    <label for="email">Correo electrónico*</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input type="text" id="email" placeholder="Correo electrónico" class="form-control" formControlName="email"/>
                    </div>
                    <span style="color:Red;" *ngIf="getForm().controls['email'].touched && getForm().controls['email'].errors?.required">
                        El correo es obligatorio.
                   </span>
                </div>
                <div class="form-group">
                    <label for="passwd">Contraseña*</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" id="passwd" placeholder="Contraseña" class="form-control" formControlName="passwd" />
                    </div>
                    <span style="color:Red;" *ngIf="getForm().controls['passwd'].touched && getForm().controls['passwd'].errors?.required">
                        La contraseña es obligatoria.
                    </span>
                </div>
                <div class="form-group">
                    <label for="passwd">Repetir contraseña*</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" id="passwd2" placeholder="Contraseña" class="form-control" formControlName="passwd2" />
                    </div>
                    <span style="color:Red;" *ngIf="getForm().controls['passwd2'].touched && getForm().controls['passwd2'].errors?.required">
                        Debes volver a escribir la contraseña
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancelar</button>
        <button class="btn btn-warning" (click)="registerAttempt()" [disabled]="getForm().invalid">Registrarme</button>
    </div>
</div>
