<footer class="footer bg-dark align-bottom">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5 col_white pt2">Encuéntranos</h5>
                <p class="mb10">Somos una empresa de lencería masculina nacida en el 2005. Comenzamos con una tienda física en Madrid pero quisimos dar el salto a las nuevas tecnologías.</p>
                <p><i class="fa fa-location-arrow text-warning"></i> C/Rio Palancia Bajo 3 </p>
                <p><i class="fa fa-phone text-warning"></i>  +34 668 525 884  </p>
                <p><i class="fa fa fa-envelope text-warning"></i> tutanga@info.com  </p>
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5 col_white pt2">FAQ</h5>
                <ul class="footer_ul">
                    <li><a href="index.html">Pagos a la península</a></li>
                    <li><a href="index.html">Envíos</a></li>
                    <li><a href="index.html">Sobre nosotros</a></li>
                    <li><a href="index.html">Foro</a></li>
                    <li><a href="index.html">Blog</a></li>
                    <li><a href="index.html">Quiénes somos</a></li>
                </ul>
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5 col_white pt2">FAQ</h5>
                <ul class="footer_ul">
                    <li><a href="index.html">Seguridad</a></li>
                    <li><a href="index.html">Guía de tallas</a></li>
                    <li><a href="index.html">Hazte socio</a></li>
                    <li><a href="index.html">Certificaciones</a></li>
                    <li><a href="index.html">Nuestras empresas</a></li>
                    <li><a href="index.html">Sello de calidad</a></li>
                </ul>
            </div>
            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5 col_white pt2">Síguenos</h5>
                <ul class="footer_ul2">
                    <li><a href="#"><i class="fa fa-twitter fleft padding-right"></i> </a><p>Ponemos a vuestra disposición nueva tienda física...<a href="https://twitter.com/">https://www.lipsum.com/</a></p></li>
                    <li><a href="#"><i class="fa fa-twitter fleft padding-right"></i> </a><p>Nuevo tanga disponible en nuestra tienda online... <a href="https://twitter.com/">https://www.lipsum.com/</a></p></li>
                    <li><a href="#"><i class="fa fa-twitter fleft padding-right"></i> </a><p>Ponemos a vuestra disposición nueva tienda física...<a href="https://twitter.com/">https://www.lipsum.com/</a></p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="social_footer_ul">
            <li><a href="https://es-es.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>