<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>¡Oops!</h1>
                    <div class="error-details">
                        <span>Has conseguido romper la página web.</span>
                    </div>
                    <div class="error-actions">
                        <a href="http://www.jquery2dotnet.com" class="btn btn-warning btn-lg">
                            <i class="fa fa-home"></i>
                            Ir al inicio
                        </a>
                        <a href="http://www.jquery2dotnet.com" class="btn btn-warning btn-lg">
                            <i class="fa fa-envelope"></i>
                            Contactar
                        </a>
                    </div>
                </div>
                <img class="img-fluid" src="assets/images/notfound.jpg" alt="Image not found error 404">
            </div>
        </div>
    </div>
</main>