<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">TuTanga <img src="assets/images/bragas.png" alt="pageicon"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contacto">Contacto</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <a class="btn btn-warning btn-sm ml-3" (click)="openLoginModal()">
                        <i class="fa fa-user"></i> Inicia sesión
                    </a>
                    <a class="btn btn-warning btn-sm ml-3" routerLink="/carrito">
                        <i class="fa fa-shopping-cart"></i> Carrito
                        <span class="badge badge-light" id="cartCount">0</span>
                    </a>
                </form>
            </div>
            
        </div>
    </nav>
</header>