<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/" class="text-warning">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Productos</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Categorías</div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a routerLink="/">Tangas masculinos</a></li>
                        <li class="list-group-item"><a routerLink="/">Tangas femeninos</a></li>
                        <li class="list-group-item"><a routerLink="/">Lencería</a></li>
                        <li class="list-group-item"><a routerLink="/">Disfraces</a></li>
                        <li class="list-group-item"><a routerLink="/">Juguetes sexuales</a></li>
                    </ul>
                </div>
                <div class="card bg-light mb-3" *ngIf="isReady()">
                    <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-tag"></i> TOP VENTAS</div>
                    <div class="card-body">
                        <img class="img-fluid" src={{getRandomProduct().image}} />
                        <h5 class="card-title text-warning" id="title-last-product">{{getRandomProduct().name}}</h5>
                        <p class="card-text">{{getRandomProduct().description}}</p>
                        <p class="bloc_left_price">{{getRandomProduct().price}} $</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div *ngIf="getProducts().length == 0" class="spinner-border" role="status" id="loading">
                        <p class="sr-only">Loading...</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 product-model" *ngFor="let product of getProducts();">
                        <div class="card">
                            <img class="card-img-top" src={{product.image}} alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a routerLink="/" title="View Product" class="text-warning">{{product.name}}</a></h4>
                                <p class="card-text">{{product.description}}</p>
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-warning btn-block" (click)="addToCart(product)">
                                            <i class="fa fa-shopping-cart"></i><strong> {{product.price}} € </strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>